.mobile-bottom-nav {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 92%;
    max-width: 450px;
    background: #ffffff;
    border-radius: 30px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
    display: none;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    z-index: 99;
    border: 1px solid #ddd;
}

.mobile-bottom-nav a {
    color: black;
    text-align: center;
    flex: 1;
    text-decoration: none;
    font-size: 12px;
    transition: all 0.3s ease;
}

.mobile-bottom-nav a i {
    font-size: 20px;
    display: block;
    margin-bottom: 4px;
}

.mobile-bottom-nav a.active {
    color: #6bcc0e;
}

.mobile-bottom-nav a:hover {
    color: #6bcc0e;
}

@media (max-width: 768px) {
    .mobile-bottom-nav {
        display: flex;
    }
    .sembunyi {
        display: none;
    }
}

#music-toggle {
    position: fixed;
    bottom: 20px;
    right: 23px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    z-index: 9999;
    transition: right 0.3s, background-color 0.3s, color 0.3s;
}

@media (max-width: 768px) {
    #music-toggle {
        display: none !important;
    }
}

#loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 4px;
    background-color: #6bcc0e;
    z-index: 99999;
    transition: width 0.3s ease;
}

.scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 999;
    color: white;
    border: none;
    padding: 12px 15px;
    cursor: pointer;
}

.teacher-image {
    position: relative;
}

.klik-disini-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 4px 12px;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    border-radius: 999px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    cursor: pointer;
    background: linear-gradient(270deg, #6bcc0e, #96fb37, #6bcc0e, #56bef9, #56bef9);
    background-size: 1000% 1000%;
    animation: gradientTheme 5s ease infinite;
    box-shadow: 0 0 8px #6acc0e9d;
    z-index: 10;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.klik-disini-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 12px rgba(234, 152, 43, 0.6);
    color: white;
}

@keyframes gradientTheme {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}